.sapUiContentPadding {
  margin: 12% 28% 10%;
  background-color: #3F5161;
  border: thick rgb(67, 123, 160) ridge;
  border-width: 40px;
  width: 600px;
  height: 350px;
}

.userCreateButtons {
  margin-left: 7px;
  margin-top: 2px;
  margin-bottom: 2px;
}

._userCreateButtons {
  margin-left: 81%;
}

.sapUiContentPadding .loginButtons {
  margin-left: 34%;
  width: 33%;
}

.sapUiContentPadding .loginIcon {
  margin-left: 36%;
}